<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
</head>


<body>
     <%- include('header'); -%>

<h1>Welcome back ! {{first_name}}  {{last_name}}</h1>

<a href = "/">Home Page</a>
<!--LOGOUT BUTTON -->
<div>
    <hgroup>
        <h4><%=user.diplayName%></h4>
        <p><small><%=user.username %></small></p>
    </hgroup>

    <%if (user.emails) { %>
    <p><small>Email: </small><%=user.emails[0].value %></p>
    <%} %>
</div>

<h3>Feedback Form</h3>

<div class="heading">
  <form action="/formsubmit">
  <div class="heading">
   Feedback Form in PHP
 </div>
 <br/>
 <p>What do you think about the quality of our service?</p>
 <div>
   <div class="pic">
     <img src="bad.png" alt=""> <br/> <!--Tofind - if have time - else remove -->
     <input type="radio" name="quality" value="0"> Bad
   </div>
   <div class="pic">
     <img src="neutral.png" alt=""> <br/>
     <input type="radio" name="quality" value="1"> Okay
   </div>
   <div class="pic">
     <img src="good.png" alt=""> <br/>
     <input type="radio" name="quality" value="2"> Good
   </div>
 </div>
 
 <p>Do you have any suggestion for us? </p>
 <textarea name=" suggestion" rows="8" cols="40"></textarea>
  <input type="submit" name="submit" value="Submit Form">
</form>
 </div>


</body>
</html>